:root {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(53, 53, 53);
    font-size: 14px;
}

footer {
    font-size: 13px;
}

h1 {
    color: a256ff;
    font-size: 16px;
}

a {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    padding: 10px;
    background-color: #a256ff;
    color: white;
    border-radius: 10px;
    border: none;
}
