doctype html 
html 
    head 
        style 
            include style.css
    body 
        h1 Olá, #{participantName}!
        p Você solicitou um código para continuar o preenchimento do Questionário de Altas Habilidades ou Superdotação - Adulto.
        
        p
            b Utilize o código a seguir: #{verificationCode}

        footer Caso não tenha solicitado o código, desconsidere essa mensagem.
        footer Essa mensagem é automática e não deve ser respondida.